{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
  .login-background {
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    position: relative;
  }

  h2.app-name {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    bottom: 450px;
    left: 90px;
    margin: 0;
    color: rgb(102, 2, 45);
  }

  p.description {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    bottom: 410px;
    left: 95px;
    margin: 0;
    color: rgb(185, 45, 6);
  }

  /* .login-container {
    text-align: center;
    width: 40%;
    background-color: rgba(237, 237, 229, 0.8);
    padding: 20px;
    border-radius: 10px;
  } */

  h2 {
    font-size: 30px;
  }

  .form-control {
    padding: 15px;
    border-radius: 40px;
    width: 90%;
    }

  button[type="submit"] {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #2980b9;
  }

  /* .my-3 {
    font-size: 18px;
  } */

  a {
    color: #3498db; /*Register link color*/
  }

  /* a:hover {
    text-decoration: underline;
  } */

  .error-message {
    color: red;
    font-weight: bold;
  }

  .my-3 p {
  position: relative;
  left: -50px; /* Adjust this value to move left */
}
</style>

<div class="login-background">
  <h2 class="app-name">Travel Destiny</h2>

  <p class="description">
    Travel the world and make memories changes updated.
  </p>

  <div class="login-container">
    <h2 style="text-align: left; margin-left: 10px;">Login</h2>

    <!-- Display error messages -->
    {% if messages %}
      {% for message in messages %}
        <p class="error-message">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <input
          type="text"
          name="username"
          class="form-control p-3 shadow-none rounded-pill"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          name="password"
          class="form-control p-3 shadow-none rounded-pill"
          id="password"
          placeholder="Password"
          required
          style="margin-top: 20px;"
        />
      </div>
      <input type="hidden" name="next" value="{% url 'dashboard' %}" />
      <div class="mb-3">
        <button type="submit" class="btn btn-primary p-3 btn-custom shadow-none rounded-pill w-100" style="margin-top: 20px;">
          Login
        </button>
      </div> 
    </form>

     <div class="my-3">
      <p style="font-weight: bold; font-size: 20px; text-align: left; margin-left: 80px;">
        Don't have an account? <a href="{% url 'signup' %}">Signup</a>
      </p>
    </div>
  </div>
</div>

{% endblock %} 

