{% extends "base.html" %}
{% block content %}
<style>

  .form-control {
    padding: 20px;
    border-radius: 40px;
    width: 85%;
    /* margin-left: -50px; */
    }

  button[type="submit"] {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    width: 95%;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #2980b9;
  }

</style>
<div style="text-align: center; margin-top: 110px; margin-left: 700px; width: 40%;">

    <h2 style="text-align: center; margin-left: 10px; font-size: 30px;">SignUp</h2>
    <h2 style="font-size: 50px; text-align: left; margin-left: -650px; margin-top: -80px;">Travel Destination</h2>
    <p style="font-size: 20px; text-align: left; margin-left: -640px; margin-top: -20px; margin-bottom: 20px;">Start the Journey to Explore!</p>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'signup' %}" style="width: 100%;">
        {% csrf_token %}

        <div class="mb-3">
            <input 
                type="text" 
                name="username" 
                class="form-control p-2 shadow-none rounded-pill"
                placeholder="Username" 
                required 
                style="margin-top: -100px;"
            />
        </div>

        <div class="mb-3">
            <input 
                type="email" 
                name="email" 
                class="form-control p-2 shadow-none rounded-pill"
                placeholder="Email" 
                required 
                style="margin-top: 10px;"
            />
        </div>

        <div class="mb-3">
            <input 
                type="password" 
                name="password" 
                class="form-control p-2 shadow-none rounded-pill"
                placeholder="Password" 
                required 
                style="margin-top: 10px;"
            />
        </div>

        <div class="mb-3">
            <input 
                type="password" 
                name="confirm_password" 
                class="form-control p-2 shadow-none rounded-pill"
                placeholder="Confirm Password" 
                required 
                style="margin-top: 10px;"
            />
        </div>

        <div class="mb-3">
            <button 
                type="submit" 
                class="btn btn-primary p-2 btn-custom shadow-none rounded-pill w-100"
                style="margin-top: 20px;"
            >
                Sign up
            </button>
        </div>
    </form>

    <div class="my-3">
        <p style="margin-left: 10px; margin-top: 15px; padding: 5px 50px; font-size: 20px;">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>

{% endblock %}

